:root {
    /* colores */
    --soft-blue: #E5E5E5;
    --dark-blue: #0A3871;
    --just-white: #FFFFFF;
    --dark-blue-400: #072B61;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--soft-blue);
}

nav {
    width: 100%;
}

.logo {
    margin: 24px;
}

.text{
    margin: 16px;
}

.text textarea {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    width: 100%;
    border-style: none;
    border-color: transparent;
    overflow: auto;
    resize: none;
    color: var(--dark-blue);
    padding: 8px;
    outline: none;
    background-color: transparent;
}

.text textarea::placeholder {
    color: var(--dark-blue);
  }

.inactive{
    display: none;
}

button {
    width: calc(100% - 20px);
    min-width: 120px;
    height: 68px;
    margin: 10px;
    border: none;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
}

.button-container button:first-child{
    background-color: var(--dark-blue);
    color: var(--just-white);
}

.button-container button:first-child:hover{
    background-color: var(--dark-blue-400);
}

.button-container button:nth-child(2){
    font-weight: 400;
    border: solid 1px var(--dark-blue);
    color: var(--dark-blue);
}

.outcome {
    padding: 32px;
    margin: 24px;
    background-color: var(--just-white);
    min-width: 120px;
    width: calc(100%-48px);
    min-height: 187px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    box-shadow: 4px 10px 15px -3px rgba(0,0,0,0.1);
}

.outcome h2{
    text-align: center;
    font-weight: 700;
    font-size: 2.4rem;
}

.outcome p{
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
}

.outcome button {
    margin-top: 16px;
    background-color: var(--just-white);
    border: solid 1px var(--dark-blue);
    color: var(--dark-blue);
}

@media(min-width: 500px) {
    .button-container{
        display: flex;
        flex-direction: row;
    }

    button {
        min-width: 120px;
    }
}

@media(min-width: 1024px) {
    body{
        margin-top: 50px;
    }

    nav{
        padding-left: 10%;
    }

    main {
        margin: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .text{
        height: 90vh;
        margin-top: 48px;
    }

    .outcome{
        height: 90vh;
        margin-top: -100px;
    }
    
    .img-search{
        display: block;
    }
}

@media(min-width: 1650px){
    nav{
        padding-left: 20%;
    }
}